body{
    background-image: url(../image/pathonesmall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    background-color: #514914;
    min-width: 300px;
}

nav{
    opacity: 0.8;
}

.logga{
    width:5.1em;
    position:relative;
    top:0%;
    left:2%;
    float:left;
    background-color: rgb(25, 66, 0);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 66, 0);
}
li{
    float: left;
    width: 33.33%;
    text-align: center;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7%;
    text-decoration: none;
}

#active{
    background-color: rgb(91, 148, 58);
}

li a:hover{
    background-color: rgb(91, 148, 58);
}

.active{
    background-color: rgb(91, 148, 58);
}


.responsive-svg{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

a circle{
    cursor: pointer;
}

a circle:hover{
    fill: white;
    opacity: 0.8;
}


p{
    font-size: 120%;
}

footer{
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 2em;
    width: 100%;
    opacity: 0.8;
    font-size: small;
}

footer a{
    color: white;
}