body{
    background-image: url(../image/pathonesmall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    background-color: #514914;
    min-width: 300px;
}

.logga{
    width:4.9rem;
    position:relative;
    top:0%;
    left:2%;
    float:left;
    background-color: rgb(25, 66, 0);
}

#active a{
    background-color: rgb(91, 148, 58);
    color: black;
}

nav{
    opacity: 0.9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 5rem;
  overflow: hidden;
  background-color:rgb(25, 66, 0);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2rem 12rem;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(91, 148, 58);
}

ul li a.active{
    background-color: rgb(91, 148, 58);
}

.responsive-svg{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

a circle{
    cursor: pointer;
}

a circle:hover{
    fill: white;
    opacity: 0.8;
}


p{
    font-size: 120%;
}

footer{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 2em;
    opacity: 0.8;
    font-size: small;
    line-height: 1.7;
}

footer a{
    color: white;
}