body{
    background-image: url(../image/pathonesmall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    background-color: #514914;
    min-width: 300px;
}

.logga{
    width:4.9rem;
    position:relative;
    top:0%;
    left:2%;
    float:left;
    background-color: rgb(25, 66, 0);
}

nav{
    opacity: 0.8;
}

img{
    width:5em;
    position:relative;
    top:0%;
    left:2%;
    float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 5rem;
  overflow: hidden;
  background-color:rgb(25, 66, 0);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2rem 12rem;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(91, 148, 58);
}

ul li a.active{
    background-color: rgb(91, 148, 58);
}

main{  
    background-color: #5B943A;
    margin: 8% 15%;
    padding: 1%;
}

h2{
    text-align: center;
    font-size: 200%;
}

p{
    font-size: 120%;
}

footer{
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.8;
    font-size: small;
}