body{
    background-image: url(../image/pathonesmall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    background-color: #514914;
    min-width: 300px;
}

/*Navigationsbar*/
.logga{
    width:4.9rem;
    position:relative;
    top:0%;
    left:2%;
    float:left;
    background-color: rgb(25, 66, 0);
}

#active a{
    background-color: rgb(91, 148, 58);
    color: black;
}

nav{
    opacity: 0.9;
}

img{
    width:5em;
    position:relative;
    top:0%;
    left:2%;
    float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 5rem;
  overflow: hidden;
  background-color:rgb(25, 66, 0);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2rem 12rem;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(91, 148, 58);
}

ul li a.active{
    background-color: rgb(91, 148, 58);
}

/*Huvudinnehåll*/
main{  
    background-color: #5B943A;
    margin: 8% 15%;
    padding: 1%;
}

h1{
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 200%;
}

h2{
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 4%;
}

p{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 115%;
    line-height: 1.6;
    padding: 0 2rem;
}

/*Elementen med klassen .start-button ska bete sig som block element.
Specifikationer på font, storlek, tjocklek, text position, text färg,
bakgrunds färg samt margin och padding.
Länkarna ska inte ha en underline.*/
.start-button{
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 3em;
    display: block;
    min-width: 27%;
    max-width: 50%;
    margin: 2% auto;
    padding: 2%;
    background-color: rgb(25, 66, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    border: solid #5B943A 10px;
    border-radius: 30px;
}

/*Footnote*/
footer{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    opacity: 0.8;
    font-size: small;
    padding: 1%;
    line-height: 1.7;
}

a{
    color: white;
}