body{
    background-image: url("../image/pathonesmallextended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    min-width: 300px;
    background-color: #514914;
}

img{
    width:7em;
    position:relative;
    top:18%;
    left:2%;
    float:left;
}

* {
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 66, 0);
}
li{
    float: left;
    width: 33.33%;
    text-align: center;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7%;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(91, 148, 58);
}

.active{
    background-color: rgb(91, 148, 58);
}
main {
    background-image: url("../image/parchment.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 56rem;
    margin: auto;
    padding: 9em;
}

p{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.7;
    padding: 0 1.5rem;

}

button{
    font-size: 1.2em;
    margin: 1em;
    padding: 1em;
    background-color: rgb(91, 148, 58);
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

footer{
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 1%;
    width: 100%;
}