* {
    box-sizing: border-box;
}

body{
    background-image: url("../image/pathonesmallextended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    min-width: 300px;
    background-color: #514914;
}

.logga{
    width:4.9rem;
}

@media screen and (min-width: 600px) {
    .logga{
        width:5.1em;
    }
    
}

nav{
    display: flex;
    background-color: rgb(25, 66, 0);
}

nav a{
    flex: 1;
    color: white;
    text-align: center;
    padding: 2rem 0rem;
    text-decoration: none;
    font-size: 1.2rem;
    align-self: center;
}

nav a:hover {
    background-color: rgb(91, 148, 58);
    cursor: pointer;
}

main {
    background-image: url("../image/parchment.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 56rem;
    margin: auto;
    padding: 9em;
}

p{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.7;
    padding: 0 1.5rem;

}

.button{
    font-size: 1.2em;
    margin: 1em;
    padding: 1em;
    background-color: rgb(148, 189, 124);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 13em;
    display: inline-block;
    text-align: center;
}

.button:hover{
    background-color: rgb(91, 148, 58);
}

footer{
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 1%;
    width: 100%;
}