* {
    box-sizing: border-box;
}

body{
    background-image: url("../image/pathonesmallextended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    min-width: 300px;
    background-color: #514914;
}


.logga{
    width: 5rem;
    height: 5rem;
    margin: -2rem;
}

nav{
    display: flex;
    background-color: rgb(25, 66, 0);
}

nav a{
    flex: 1;
    color: white;
    text-align: center;
    padding: 2rem 0rem;
    text-decoration: none;
    font-size: 1.2rem;
    align-self: center;
}

nav a:hover {
    background-color: rgb(91, 148, 58);
    cursor: pointer;
}

main{
    background-image: url(../image/parchment.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: border-box;
    background-size: 71rem 102rem;
    background-origin: padding-box;
    margin: 1rem auto;
}

p{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.7;
    padding: 12% 13% 2%;
    margin: auto;
    max-width: 75%;
    min-width: 20%;
}

.button{
    font-size: 1.2em;
    margin: 1em;
    padding: 1em;
    background-color: rgb(148, 189, 124);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    max-width: 13rem;
    min-width: 9rem;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 30%;
}

.button:hover{
    background-color: rgb(91, 148, 58);
}

footer{
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 1%;
    width: 100%;
}

footer p{
    color: white;
    padding: 2%;
}