/*Margin och padding ska räknas in i boxarnas höjd och bredd.*/
* {
    box-sizing: border-box;
}

body{
    background-image: url("../image/pathonesmallextended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    min-width: 300px;
    background-color: rgb(251, 241, 214);
}

/*Navigationsbar*/
.logga{
    width: 5rem;
    height: 5rem;
    margin: -2rem;
}

/*Istället för float har jag här använt flexboxar för att demonstrera hur en sådan kod ser ut.*/
nav{
    display: flex;
    background-color: rgb(25, 66, 0);
}

/*Länkar i navigationsbaren ska ligga överst.*/
nav a{
    flex: 1;
    color: white;
    text-align: center;
    padding: 2rem 0rem;
    text-decoration: none;
    font-size: 1.2rem;
    align-self: center;
}

nav a:hover {
    background-color: rgb(91, 148, 58);
    cursor: pointer;
}

/*Huvudinnehåll*/

/*Main ska ha sin egen bakgrundsbild med specificerad bredd och höjd och den ska inte upprepas.*/
main{
    background-image: url(../image/parchment.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 71rem 109rem;
    margin: 1rem auto;
}

p{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.7;
    padding: 19% 13% 2%;
    margin: auto;
    max-width: 75%;
    min-width: 20%;
}

/*Elementen med klassen button ska ha en viss: 
textstorlek, bakgrundsfärg, textfärg, maximum och minimum bredd, 
muspekaren ska ändra form över de.
Genom att sätta deras display till inline-block kan de vara på samma linje som 
andra inline eller inline-block element samt kunna ändra bredd, höjd och margin.*/
.button{
    font-size: 1.2em;
    margin: 1em;
    padding: 1em;
    background-color: rgb(148, 189, 124);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    max-width: 13rem;
    min-width: 9rem;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 30%;
}

.button:hover{
    background-color: rgb(91, 148, 58);
}

/*Footnote*/
footer{
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 1%;
    width: 100%;
}

footer p{
    color: white;
    padding: 2%;
}

footer a{
    color: white;
}

/*Specificering på hur main och .button ska bete sig vid 900px och mindre.*/
@media screen and (max-width: 900px) {
    main{
        background-image: none;
        background-color: rgb(251, 241, 214);
        border-radius: 10px;
        margin: 5%;
    }
    
    .button{
        position: relative;
        left: 20%;
    }
}