body{
    background-image: url("../image/pathonesmallextended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    min-width: 300px;
    background-color: #514914;
}

img{
    width:7em;
    position:relative;
    top:18%;
    left:2%;
    float:left;
}

* {
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 66, 0);
}
li{
    float: left;
    width: 33.33%;
    text-align: center;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7%;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(91, 148, 58);
}

.active{
    background-color: rgb(91, 148, 58);
}
main {
    background-image: url("../image/listing-1302815.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% -2%;
    max-width: 59%;
    margin: auto;
    padding: 9em;
}

footer{
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 1%;
    width: 100%;
}