body{
    background-image: url("../image/pathonesmallextended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0;
    opacity: 0.9;
    min-width: 300px;
    background-color: #514914;
}

/*Navigationsbar*/
.logga{
    width:5.1em;
    position:relative;
    top:0%;
    left:2%;
    float:left;
    background-color: rgb(25, 66, 0);
}

* {
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 5rem;
  overflow: hidden;
  background-color:rgb(25, 66, 0);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2rem 12rem;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(91, 148, 58);
}

ul li a.active{
    background-color: rgb(91, 148, 58);
}

/*Huvudinnehåll*/
h1{
    text-align: center;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(25, 66, 0);
    color: white;  
    margin: 0;
    padding: 2%;
    font-size: 4em;
}

main{
    background-color: #5B943A;
    margin: 5% 5%;
}

h2{
    text-align: center;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    font-size: xxx-large;
    padding-top: 3%;
}

main p{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 85%;
    background-color: #5B943A;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0 0 3% 3%;
    line-height: 1.8;
    font-size: larger;
}

/*Då jag har en custom font behöver det specificeras hur texten ska se ut när den är fetstilad.*/
strong{
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
}
.start-button{
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 3em;
    display: block;
    min-width: 27%;
    max-width: 50%;
    margin: 2% auto;
    padding: 2%;
    background-color: rgb(25, 66, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    border: solid #5B943A 10px;
    border-radius: 30px;
}

/*Footnote*/
footer{
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(12, 33, 0);
    color:white;
    text-align: center;
    padding: 1%;
    line-height: 1.7;
}

a{
    color: white;
}